$cod_gray: #111110;
$emperor: #505050;
$silver: #b0b0b0;
$thunder_red: #ae1827;
$drift_wood: #ae8652;
$blue: #1a50ae;
$light_blue: #509ae1;
$orange: #fb8d05;
$light_gold: #ffcf6a;
$light_silver: #eae8e6;
$dark_gray: #191817;
$flint: #69625c;
$smoker: #88928f;
$kash_blue: #4f659a;
$carmine: #ac4238;
$teak: #ae8d67;
$bean: #65401e;
$mine_shaft: #353333;
$star_white: #e9dac4;